.Encabezado {
    background-color: white;
    padding: 20px;
}

.Navegacion {
    background-color: white;
    padding: 35px;
}

.Contenedor {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Art_Principal {
    background-color: aqua;
    padding: 35px;
    grid-column: 1/4;
}

.Lateral {
    background-color: brown;
    height: 99%;
    margin: 10px;
}

.Pie_P {
    width: 100%;
    padding: 25px;
    flex-wrap: wrap;
}